body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.workout-card {
  display: flex;
  height: 120px;
  width: 200px;
  background-color: rgb(240, 235, 227);
  margin: 10px 10px 10px 10px;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  border-radius: 10px;
}

.roulette {
  display: flex;
  height: 100%;
  width: 100%;
}

.roulette-page {
  margin-top: 40px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.roulette-cards-container {
  display: flex;
  height: 400px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.roulette-header {
  color: #576f72;
  font-weight: bold;
  font-size: 60px;
  margin-top: 40px;
}

.randomize-button {
  margin-top: 24px;
}

.settings-title {
  color: #576f72;
  font-weight: bold;
  font-size: 60px;
  margin-top: 40px;
}

.settings-subtext {
  color: #576f72;
  font-size: 30px;
  padding-bottom: 20px;
}

.body-part-selection {
  font-size: 24px;
  margin-top: 40px;
  border-radius: 10px;
  line-height: 40px;
  font-weight: bold;
}

.home-subtext {
  font-size: 24px;
  margin-top: 40px;
  border-radius: 10px;
  line-height: 40px;
  font-weight: bold;
}
